{% extends 'base.html' %}

{% block title %} Add New Post {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <!---- left side bar ---->
    {% include 'dashboard/sidebar.html' %}

    <!---- right side content ---->
    <div class="col-md-9">
        <h2>Add New Post</h2>

        <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>

    </div>
</div>
{% endblock %}