{% extends 'base.html' %}
{% block title %} dashboard {% endblock %}

{% block content %}
<div class="row">
    <!---- left side bar ---->
    {% include 'dashboard/sidebar.html' %}

    <!---- right side content ---->
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        All Categories
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-tittle text-center">{{ category_count }}</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        All Posts
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-tittle text-center">{{blog_count}}</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}