{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!---- left side bar ---->
    <div class="col-md-3">
        <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
                <a class="nav-link text-dark bg-warning" href="">Dashboard</a>
            <a class="nav-link text-dark " href="">Categories</a>
            <a class="nav-link text-dark " href="">Blogs</a>
            <a class="nav-link text-dark" href="">Logout</a>
        </div>
    </div>

    <!---- right side content ---->
    <div class="col-md-9">
        <div class="m-10 p-45">plon</div>
    </div>
</div>
{% endblock %}